<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tecno Trash</title>
   <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
    <main class="content-home">
        <header class="menu-tecno-trash">
            <figure>
                <img src="../static/imagenes/fondo_menuB.jpg" alt=""/>
            </figure>
            <h2>Tecno Trash</h2>
            <ul>
                <li><a class="menu-option--select" href="home.html">Inicio</a></li>
                <li><a class="menu-option--deselect" href="report.html">Reportar</a></li>
                <li><a class="menu-option--deselect" href="prize.html">Premios</a></li>
                <li><a class="menu-option--deselect" href="about.html">Acerca de nosotros</a></li>
            </ul>
        </header>

        <div>
            <div class="content-home__description">
                <h3>EN TI DEPENDE VIVIR EN UNA CIUDAD MAS LIMPIA</h3>
                <div>
                    <a href="#">Denunciar</a>
                </div>
            </div>

            <span>Historial</span>

            <div class="content-home__history">
                <figure class="content-home__history__arrow-left">
                    <img src="../static/imagenes/arrow.png" alt=""/>
                </figure>
                <div>
                    <ul>
                        <li>
                            <figure>
                                <img src="./resources/img/historia01.PNG" alt=""/>
                            </figure>
                            <h3>SJL</h3>
                            <p>Se reporto a una señorita tirando basura</p>
                        </li>
                        <li>
                            <figure>
                                <img src="C:\Users\lisse\eclipse-workspace\TecnoTrashTF\src\main\resources\static\imagenes\historia02.PNG" alt=""/>
                            </figure>
                            <h3>Surco</h3>
                            <p>Se reporto a un carro de placa QFF-1123 arrojando basura</p>
                        </li>
                        <li>
                            <figure>
                                <img src="C:\Users\lisse\eclipse-workspace\TecnoTrashTF\src\main\resources\static\imagenes\historia03.PNG" alt=""/>
                            </figure>
                            <h3>Breña</h3>
                            <p>Se reporto basura a espaldas de la comisaria</p>
                        </li>

                        <li>
                            <figure>
                                <img src="C:\Users\lisse\eclipse-workspace\TecnoTrashTF\src\main\resources\static\imagenes\historia01.PNG" alt=""/>
                            </figure>
                            <h3>SJL</h3>
                            <p>Se reporto a una señorita tirando basura</p>
                        </li>
                        <li>
                            <figure>
                                <img src="C:\Users\lisse\eclipse-workspace\TecnoTrashTF\src\main\resources\static\imagenes\historia02.PNG" alt=""/>
                            </figure>
                            <h3>Surco</h3>
                            <p>Se reporto a un carro de placa QFF-1123 arrojando basura</p>
                        </li>
                        <li>
                            <figure>
                                <img src="C:\Users\lisse\eclipse-workspace\TecnoTrashTF\src\main\resources\static\imagenes\historia03.PNG" alt=""/>
                            </figure>
                            <h3>Breña</h3>
                            <p>Se reporto basura a espaldas de la comisaria</p>
                        </li>
                    </ul>
                </div>
                <figure class="content-home__history__arrow-right">
                    <img src="./resources/img/arrow.png" alt=""/>
                </figure>
            </div>
        </div>

        <footer class="footer-tecno-trash">
            <p>2021 - TecnoTrash</p>
        </footer>
    </main>
</body>
</html>