<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tecno Trash</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
    <main class="content-prize">
        <header class="menu-tecno-trash">
            <figure>
                <img src="../static/imagenes/fondo_menuB.jpg" alt=""/>
            </figure>
            <h2>Premio</h2>
            <ul>
                <li><a class="menu-option--deselect" href="home.html">Inicio</a></li>
                <li><a class="menu-option--deselect" href="report.html">Reportar</a></li>
                <li><a class="menu-option--select" href="prize.html">Premios</a></li>
                <li><a class="menu-option--deselect" href="about.html">Acerca de nosotros</a></li>
            </ul>
        </header>

        <div>
            <ul>
                <li>
                    <figure>
                        <img src="../static/imagenes/premio-planet.PNG" alt=""/>
                    </figure>
                    <p>Descuento de 30% en Cineplanet</p>
                    <div>
                        <p>Reclamar</p>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="../static/imagenes/premio-inkafarma.PNG" alt=""/>
                    </figure>
                    <p>Descuentos del 40% en compras de inkafarma </p>
                    <div>
                        <p>Reclamar</p>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="../static/imagenes/premio-kfc.PNG" alt=""/>
                    </figure>
                    <p>Descuentos del 20% en todos los productos del KFC</p>
                    <div>
                        <p>Reclamar</p>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="../static/imagenes/premio-pizzahut.PNG" alt=""/>
                    </figure>
                    <p>Descuentos del 25% en todos los productos de Pizza Hut</p>
                    <div>
                        <p>Reclamar</p>
                    </div>
                </li>
            </ul>
        </div>

        <footer class="footer-tecno-trash">
            <p>2021 - TecnoTrash</p>
        </footer>
    </main>
</body>
</html>